{% extends "base.html" %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  <p>팔로워: {{ person.followers.count }} / 팔로잉: {{ person.followings.count }}</p>
  <form action="{% url "accounts:follow" person.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="FOLLOW">
  </form>
  <p>회원번호: {{ person.pk }}</p>
  <p>유저이름: {{ person.username }}</p>
  <hr>

  <h2>유저가 쓴 글</h2>
  {% for board in person.board_set.all %}
    <p>글 번호: {{ board.pk }}</p>
    <p>글 제목: <a href="{% url "boards:detail" board.pk %}">{{ board.title }}</a></p>
  {% empty %}
    <p>작성한 글이 없습니다</p>
  {% endfor %}
  <hr>

  <h2>유저가 쓴 댓글</h2>
  {% for comment in person.comment_set.all %}
    <p>글 제목: <a href="{% url "boards:detail" comment.board.pk %}">{{ comment.board.title }}</a></p>
    <p>작성한 댓글: {{ comment.content }}</p>
  {% empty %}
    <p>작성한 댓글이 없습니다</p>
  {% endfor %}
  <hr>

  <h2>팔로워</h2>
  {% for follower in person.followers.all %}
    <p>{{ follower.username }}</p>
  {% empty %}
    <p>팔로워 한 사람이 없습니다</p>
  {% endfor %}
  <hr>
{% endblock content %}